{% extends "base.html" %}
{% block title %}登入{% endblock %}
{% block content %}
<h1 align="center">登入</h1>
{% if error %}
    <article style="background-color: var(--pico-color-red-100); border-color: var(--pico-color-red-400);">
        {{ error }}
    </article>
{% endif %}
<form method="POST" action="/login">
    <label for="username">使用者名稱</label>
    <input name="username" id="username" required>
    <label for="password">密碼</label>
    <input type="password" name="password" id="password" required>
    <button type="submit">登入</button>
</form>
{% endblock %}